<div class="col-md-12 my-4">
    <div class="col-md-12">
        <div class="card shadow">
            <div class="card-body">
                <h3 class="card-title col-md-12">Produtos</h3>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 my-4">
    <div class="col-md-12">
        <div class="card shadow">
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nome</th>
                            <th>URL da Imagem</th>
                            <th>Funções</th>
                        </tr>
                    </thead>
                    <tbody  *ngFor="let product of products">
                        <tr>
                            <td>{{ product.id }}</td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.img }}</td>     
                            <td>
                                <button class="btn btn-primary mx-3" type="button">
                                    Editar
                                    <fa-icon  [icon]="faPen"></fa-icon>
                                </button>
                                <button class="btn btn-danger" type="button">
                                    Excluir
                                    <fa-icon [icon]="faTrash"></fa-icon>
                                </button>
                            
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

