<div class="col-md-12 my-4">
    <div class="col-md-12">
        <div class="card shadow">
            <div class="card-body">
                <h3 class="card-title col-md-12">Categorias</h3>
                <hr>
                <div class="col-md-12 d-flex justify-content-end">
                    <button class="btn btn-primary" type="button" (click)="toCreatePage()">
                        Nova Categoria
                        <fa-icon [icon]="faPlus"></fa-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 my-4">
    <div class="col-md-12">
        <div class="card shadow" *ngIf="!loading else loader">
            <div class="card-body" >
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nome</th>
                            <th>Total de Items</th>
                            <th>Funções</th>
                        </tr>
                    </thead>
                    <tbody  *ngFor="let category of categories">
                        <tr>
                            <td>{{ category.id }}</td>
                            <td>{{ category.name }}</td>
                            <td>{{ category.products.length }}</td>
                            <td>
                                <button class="btn btn-primary mx-3" type="button" (click)="edit(category.id)">
                                    Editar
                                    <fa-icon  [icon]="faPen"></fa-icon>
                                </button>
                                <button class="btn btn-danger" type="button">
                                    Excluir
                                    <fa-icon [icon]="faTrash"></fa-icon>
                                </button>
                            
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




<ng-template #loader>
    <div class="col-md-12">
        Loading...
        
        
    </div>
</ng-template>
